/* MainLayout.css */
.artist-layout {
    display: flex;
    min-height: 100vh;
    background: #181818; /* Màu nền content giống Spotify */
}
  
.artist-content {
    margin-left: 240px; /* Độ rộng của sidebar */
    flex: 1;
    padding: 20px;
}