.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: white;
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-top: 1%;
  padding-bottom: 5%;
}

.upload-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.upload-header h1 {
  font-size: 24px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  gap: 10px;
}

.upload-row {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center; /* Align items vertically centered */
}

.upload-input {
  padding: 10px;
  border: 1px solid #1db954;
  border-radius: 5px;
  background-color: #282828;
  color: white;
  width: 50%; /* Set a fixed width for inputs */
}

.upload-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1db954;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  justify-content: center;
}

.upload-button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.upload-button:hover:not(:disabled) {
  background-color: #1ed760;
}

.upload-message {
  font-size: 14px;
  color: rgb(245, 78, 78);
}

.upload-label {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Remove bottom margin */
  font-weight: bold;
  width: 50%; /* Set a fixed width for labels */
}

.upload-selected-artist-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cột bằng nhau */
  gap: 10px;
  width: 150px;
}

.upload-selected-artist-list ul li {
  box-sizing: border-box;
}

.upload-artst-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cột */
  gap: 15px; /* Tăng khoảng cách giữa các item */
  padding: 0;
  list-style: none;
}

.upload-artst-list ul li {
  box-sizing: border-box;
  padding: 10px; /* Tăng padding cho item */
}

.upload-artst-list, .upload-selected-artist-list {
  padding: 20px;
  background-color: #181818;
  border-radius: 8px;
}

/* Tiêu đề */
.upload-artst-list h3, .upload-selected-artist-list h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}
.upload-input{
  width: 100%;
  margin-bottom: 25px;
}
.upload-artst-list,.upload-selected-artist-list{
  width: 100%;
}
