.com-vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.com-horizontal-align{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.com-hr-left-align{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.com-glow-only{
  border: none;
  padding: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.7;
  cursor: pointer;
}

.com-glow-only:hover {
  opacity: 1;
  background-color: rgba(255,255,255,0.2) !important;
}

.com-glow-zoom{
  border: none;
  padding: 4px;
  opacity: 0.7;
  gap: 8px;
  transition: all 0.2s ease-out;
}

.com-glow-zoom:hover{
  transform: scale(1.1);
  opacity: 1;
}

  .ft-spotify-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding-block: 10px;
    padding-inline: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: 1001;
  }

  .ft-disabled-button{
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
  .ft-disabled-button:hover{
    opacity: 0.5 !important;
    transform: scale(1) !important;
  }

  .ft-left{
    width: calc(33% - 24px);
    overflow: hidden;
    gap: 16px;
    justify-content: left !important;
  }
  .com-button-controls button{
    border: none;
    background-color: transparent;
    color: white;
    width: fit-content;
    height: fit-content;
    opacity: 0.7;
    transition: all 0.1s ease-out;
    cursor: pointer;
  }
  .com-button-controls button:hover{
    transform: scale(1.1);
    opacity: 1;
  }

  .ft-center{
    width: 33%;
  }

  .ft-center .com-button-controls{
    gap: 20px !important;
  }

  .ft-progress-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .ft-progress-bar input[type="range"]{
    width: 84%;
    height: 6px;
    -webkit-appearance: none;
    background: rgba(255,255,255,50%);
    border-radius: 3px;
    outline: none;
    overflow: hidden;
  }
  .ft-progress-bar input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 0px;
    background: transparent;
    box-shadow: -500px 0px 0px 500px rgba(255,255,255,1);
  }
  .ft-progress-bar:hover input[type="range"]::-webkit-slider-thumb{
    background:white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: -500px 0px 0px 500px #1db954;
    cursor: pointer;
    transform: scale(1.5);
  }

  .ft-progress-bar span{
    font-size: 12px;
    width:8%;
    text-align: center;
    color: rgba(255,255,255,50%);
  }

  .ft-right{
    min-width: calc(30% - 24px);
    width: 35%;
    padding-right: 32px;
    overflow: hidden;
    justify-content: right !important;
    gap: 4px !important;
  }
  .ft-song_info {
    gap: 2px;
    max-width: 280px;
    width: wrap-content;
    align-items: baseline !important;
    justify-content: left !important;
  }
  .ft-song_info h4{
    margin: 0px;
    height: 22px;
    overflow: hidden;
    cursor:pointer;
    font-family: "Circular", "Circular Std", system-ui, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .ft-song_info p{
    margin: 0px;
    opacity: 0.5;
    height: 16px;
    overflow: hidden;
    font-weight: 450;
    cursor:pointer;
    font-family: "Circular", "Circular Std", system-ui, sans-serif;
    font-size: 10px;
  }

  .ft-song_info h4:hover, .ft-song_info p:hover{
    opacity: 1;
    text-decoration: underline;
  }

  .ft-img_container{
    width: 56px;
    height: 56px;
    border-radius: 10%;
    background-color: rgba(255,255,255,10%);
    cursor: pointer;
  }
  .ft-img_container img{
    width: 100%;
    height: 100%;
  }
  .ft-volume-bar{
    width: 150px !important;
  }
  .mcb-spotify-preview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(90deg, #a844a1, #4a67d6);
    color: white;
  }
  
  .mcb-spotify-preview p {
    margin: 0;
    font-size: 14px;
  }
  
  .mcb-spotify-preview button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .mcb-spotify-preview button:hover {
    background-color: #f0f0f0;
  }
  .mcb-disabled-button:disabled {
    pointer-events: none !important; /* Chặn hover */
    opacity: 0.5 !important; /* Làm mờ nút */
  }
  
  
