.com-vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.com-horizontal-align{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.com-hr-left-align{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.com-glow-only{
  border: none;
  padding: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.7;
  cursor: pointer;
}

.com-glow-only:hover {
  opacity: 1;
  background-color: rgba(255,255,255,0.2) !important;
}

.com-glow-zoom{
  border: none;
  padding: 4px;
  opacity: 0.7;
  gap: 8px;
  transition: all 0.2s ease-out;
}

.com-glow-zoom:hover{
  transform: scale(1.1);
  opacity: 1;
}

.hd-spotify-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 8px 28px;
    z-index: 1000;
  }
  
  .hd-logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hd-home-search{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hd-home-button{
    width: 56px;
    height: 56px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: rgba(255,255,255,10%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* transform: scale(1.5); */
    border: none;
    margin-inline: 20px;
    transition: all 0.2s ease-out;
  }
  .hd-home-button:hover{
    background-color: rgba(255,255,255,20%);
    transform: scale(1.05);
  }
  
  .hd-nav-links button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .hd-search-bar{
    width: 400px;
    background-color: rgba(255,255,255,10%);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 12px;
    transition: all 0.15s ease-out;
    border: 1px solid rgba(255,255,255,0);
  }
  .hd-search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: all 0.15s ease-out;
  }
  .hd-search-bar:hover .hd-search-icon{
    opacity: 0.9;
  }
  .hd-search-bar:hover{
    background-color: rgba(255,255,255,15%);
    border: 1px solid rgba(255,255,255,30%);
  }

  .hd-language{
    display: flex;
    gap: 4px;
    padding: 4px;
    margin-inline: 8px;
    border: 1px sold white;
  }
  .hd-language button{
    border-radius: 10px;
    font-size: 12px;
    width: 24px;
  }
  .hd-language .hd-lang-on{
    background-color: white;
    color: black;
    font-weight: bold;
    width: 64px !important;
  }
  .hd-lang-off{
    background-color: #121212;
    color: white;
    font-weight: lighter;
    width: 32px !important;
  }

  .hd-premium{
    background-color: white;
    padding: 6px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
  }
  .hd-premium button{
    color:black;
    font-weight: 800;
    font-size: smaller;
  }

  .hd-premium:hover, .hd-login:hover{
    transform: scale(1.1);
    font-size: medium;
  }
  .hd-nav-links a {
    text-decoration: none; /* Xóa gạch chân */
    color: black; /* Đổi màu chữ thành đen */
  }
  .hd-download:hover{
    opacity: 1;
    transform: scale(1.1);
  }

  .hd-download{
    padding: 6px;
    border-radius: 15px;
    opacity: 0.8;
    transition: all 0.2s ease-out;
  }

  .hd-download button{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hd-premium-download{
    transition: all 0.2s ease-out;
    display: flex;
    width: fit-content !important;
  }

  .hd-nav-links, .hd-nav-links button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hd-search-bar input {
    padding: 8px;
    height: 30px;
    width: 100%;
    border: none;
    color: rgba(255,255,255,80%);
    font-family: "Circular", "Circular Std", system-ui, sans-serif;
    margin-left: 8px;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
    outline: none;
  }
  
  .hd-user-profile{
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hd-user-profile img {
    width: 100%;
    height: 100%;
  }
  .hd-user-profile img:hover{
    transform: scale(1.05);
  }
  .com-button-controls button{
    border: none;
    background-color: transparent;
    color: white;
    width: fit-content;
    height: fit-content;
    opacity: 0.7;
    transition: all 0.1s ease-out;
    cursor: pointer;
  }
  .com-button-controls button:hover{
    transform: scale(1.1);
    opacity: 1;
  }
  .hd-login{
    display: flex;
    margin: 16px 32px;
    background-color: white;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    color: #000000;
    transition: all 0.2s ease-out;
    padding: 3px 8px;
    text-decoration: none
  }

  .hd-user-menu{
    position: absolute;
    top: 64px;
    right: 0;
    background-color: rgba(35,35,35);
    z-index: 1000;
    width: 220px;
    padding: 0;
    margin: 0;
  }
  .hd-user-menu ul{
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .hd-user-menu ul button{
    padding: 12px 24px;
    margin: 0;
    border: none;
    width: 100%;
    text-align: left;
    background-color: transparent;
    color: white;
    font-size: 16px;
  }
  .hd-user-menu ul button:hover{
    background-color: rgba(50,50,50);
    text-decoration: underline;
  }