/* Playlist.css */

.playlist-container {
    background: linear-gradient(to bottom, #2a2a2a, #121212);
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-height: 80vh;
  }
  
  .playlist-container h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .playlist-container p {
    color: #bbb;
  }
  
  .song-header {
    background: #1e1e1e;
    font-weight: bold;
    border-bottom: 2px solid #333;
    color: #fff;
  }
  
  .song-item.active {
    background: #333 !important;
    color: #1db954;
  }
  


  .playlist-name{
    max-width: 50%; /* Giới hạn chiều rộng */
    white-space: nowrap; /* Ngăn xuống dòng */
    overflow: hidden; /* Ẩn nội dung vượt quá */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi bị cắt */
  }

  .playlist-detail {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    max-width: 50%; 
    text-align:left;
}
  
  