/* Playlist.css */

.playlist-container {
    background: linear-gradient(to bottom, #2a2a2a, #121212);
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-height: 80vh;
  }
  
  .playlist-container h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .playlist-container p {
    color: #bbb;
  }
  
  .song-header {
    background: #1e1e1e;
    font-weight: bold;
    border-bottom: 2px solid #333;
    color: #fff;
  }
  
  .song-item.active {
    background: #333 !important;
    color: #1db954;
  }
  


  .playlist-name{
    max-width: 50%; /* Giới hạn chiều rộng */
    white-space: nowrap; /* Ngăn xuống dòng */
    overflow: hidden; /* Ẩn nội dung vượt quá */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi bị cắt */
  }

  .playlist-detail {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    max-width: 50%; 
    text-align:left;
}
.playlist-detail-update-btn {
  margin-right: 3%;
  color: #cecece;
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
}
.playlist-detail-update-container{
  text-align: end;
  margin-right: 3%;
}

.playlist-detail-update-btn:hover{
  color: #ffffff;
  cursor: pointer;
}
.playlist-detail-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.playlist-detail-image-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
}

.playlist-detail-image-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.playlist-detail-image-wrapper:hover::after {
  opacity: 1;
}

.playlist-detail-image-default-icon {
  width: 48px;
  height: 48px;
  color: #b3b3b3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.playlist-detail-image-wrapper:hover .playlist-detail-image-default-icon {
  opacity: 0;
}

.playlist-detail-image-placeholder {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: opacity 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Đảm bảo biểu tượng bút và text nằm trên lớp phủ */
}

.playlist-detail-image-wrapper:hover .playlist-detail-image-placeholder {
  opacity: 1;
}

.playlist-detail-image-edit-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

.playlist-detail-image-text {
  font-size: 14px;
  font-weight: 500;
}

.playlist-detail-image-input {
  display: none;
}