.com-vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.com-horizontal-align{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.com-hr-left-align{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.com-glow-only{
  border: none;
  padding: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.7;
  cursor: pointer;
}

.com-glow-only:hover {
  opacity: 1;
  background-color: rgba(255,255,255,0.2) !important;
}

.com-glow-zoom{
  border: none;
  padding: 4px;
  opacity: 0.7;
  gap: 8px;
  transition: all 0.2s ease-out;
}

.com-glow-zoom:hover{
  transform: scale(1.1);
  opacity: 1;
}

.hd-spotify-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 8px 28px;
  }
  
  .hd-logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hd-home-search{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hd-home-button{
    width: 32px;
    height: 32px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: rgba(255,255,255,10%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1.5);
    border: none;
    margin-inline: 20px;
    transition: all 0.2s ease-out;
  }
  .hd-home-button:hover{
    background-color: rgba(255,255,255,20%);
    transform: scale(1.55);
  }
  
  .hd-nav-links button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .hd-search-bar{
    width: 400px;
    background-color: rgba(255,255,255,10%);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 12px;
    transition: all 0.15s ease-out;
    border: 1px solid rgba(255,255,255,0);
  }
  .hd-search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: all 0.15s ease-out;
  }
  .hd-search-bar:hover .hd-search-icon{
    opacity: 0.9;
  }
  .hd-search-bar:hover{
    background-color: rgba(255,255,255,15%);
    border: 1px solid rgba(255,255,255,30%);
  }

  .hd-premium{
    background-color: white;
    padding: 6px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
  }
  .hd-premium button{
    color:black;
    font-weight: 800;
    font-size: small;
  }

  .hd-premium:hover{
    background-color: rgba(255,255,255,80%);
    transform: scale(1.1);
  }
  .hd-download:hover{
    opacity: 1;
    transform: scale(1.1);
  }

  .hd-download{
    padding: 6px;
    border-radius: 15px;
    opacity: 0.8;
    transition: all 0.2s ease-out;
  }

  .hd-download button{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hd-premium-download{
    gap: 16px;
    transition: all 0.2s ease-out;
    display: flex;
  }

  .hd-nav-links, .hd-nav-links button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hd-search-bar input {
    padding: 8px;
    height: 30px;
    width: 100%;
    border: none;
    color: rgba(255,255,255,80%);
    font-family: "Circular", "Circular Std", system-ui, sans-serif;
    margin-left: 8px;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
    outline: none;
  }
  
  .hd-user-profile{
    width: 24px;
    height: 24px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
  }

  .hd-user-profile img {
    width: 100%;
    height: 100%;
  }

                                                            /* FOOTER */


  .ft-spotify-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding-block: 10px;
    padding-inline: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
  }

  .ft-disabled-button{
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
  .ft-disabled-button:hover{
    opacity: 0.5 !important;
    transform: scale(1) !important;
  }

  .ft-left{
    width: calc(33% - 24px);
    overflow: hidden;
    gap: 16px;
    justify-content: left !important;
  }
  .com-button-controls button{
    border: none;
    background-color: transparent;
    color: white;
    width: fit-content;
    height: fit-content;
    opacity: 0.7;
    transition: all 0.1s ease-out;
    cursor: pointer;
  }
  .com-button-controls button:hover{
    transform: scale(1.1);
    opacity: 1;
  }

  .ft-center{
    width: 33%;
  }

  .ft-center .com-button-controls{
    gap: 20px !important;
  }

  .ft-progress-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .ft-progress-bar input[type="range"]{
    width: 84%;
    height: 6px;
    -webkit-appearance: none;
    background: rgba(255,255,255,50%);
    border-radius: 3px;
    outline: none;
    overflow: hidden;
  }
  .ft-progress-bar input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 0px;
    background: transparent;
    box-shadow: -500px 0px 0px 500px rgba(255,255,255,1);
  }
  .ft-progress-bar:hover input[type="range"]::-webkit-slider-thumb{
    background:white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: -500px 0px 0px 500px #1db954;
    cursor: pointer;
    transform: scale(1.5);
  }

  .ft-progress-bar span{
    font-size: 12px;
    width:8%;
    text-align: center;
    color: rgba(255,255,255,50%);
  }

  .ft-right{
    width: calc(30% - 24px);
    padding-right: 32px;
    overflow: hidden;
    justify-content: right !important;
    gap: 4px !important;
  }
  .ft-song_info {
    gap: 2px;
    max-width: 280px;
    width: wrap-content;
    align-items: baseline !important;
    justify-content: left !important;
  }
  .ft-song_info h4{
    margin: 0px;
    height: 22px;
    overflow: hidden;
    cursor:pointer;
    font-family: "Circular", "Circular Std", system-ui, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .ft-song_info p{
    margin: 0px;
    opacity: 0.5;
    height: 16px;
    overflow: hidden;
    font-weight: 450;
    cursor:pointer;
    font-family: "Circular", "Circular Std", system-ui, sans-serif;
    font-size: 10px;
  }

  .ft-song_info h4:hover, .ft-song_info p:hover{
    opacity: 1;
    text-decoration: underline;
  }

  .ft-img_container{
    width: 56px;
    height: 56px;
    border-radius: 10%;
    background-color: rgba(255,255,255,10%);
    cursor: pointer;
  }
  .ft-img_container img{
    width: 100%;
    height: 100%;
  }
  .ft-volume-bar{
    width: 150px !important;
  }


/* Left Sidebar */
.ls-left-sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 16px;
  padding-block: 8px;
  background: #121212;
  color: white;
  width: 250px;
  /* height: calc(100% - 189px); */
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
  border-radius: 8px;
  position: fixed;
  /* top: 64px; */
  /* left: 8px; */
  /* transition: all 0.2s ease-out; */
}

.ls-left-sidebar::-webkit-scrollbar {
  display: none;
}

.ls-library-header{
  width: 100%;
  justify-content: space-between;
  padding-block: 8px;
}

.ls-library-title {
  background: transparent;
  opacity: 0.7;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: white;
  gap: 8px;
  transition: all 0.1s ease-out;
}
.ls-library-title span{
  width: fit-content;
  overflow: hidden;
}

.ls-library-title:hover{
  background: transparent !important;
}

/* Add & Expand Buttons */
.ls-add-expand {
  gap: 8px;
}

.ls-create-span{
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}

.ls-add-expand button{
  width: fit-content;
  min-width: 32px;
  height: 32px;
  border-radius: 16px;
  gap: 0px !important;
}

.ls-category-search{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Category Container */
.ls-category-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

/* Category Holder */
.ls-category-holder {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 4px;
  scrollbar-width: none;
}

.ls-category-holder::-webkit-scrollbar {
  display: none;
}

/* Category Buttons */
.ls-category-holder button {
  padding: 8px 12px;
  border-radius: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.ls-category-holder button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Scroll Buttons */
.ls-scroll-btn {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: opacity 0.2s;
  z-index: 10;
}

.ls-scroll-btn .ls-left {
  left: 0;
  opacity: 0;
}

.ls-scroll-btn .ls-right-positioned {
  right: 0;
  opacity: 1;
}

.ls-scroll-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.ls-search-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ls-search-sort button{
  background-color: rgba(0,0,0,0);
}

.ls-search-sort .ls-search-bar {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px;
  border-radius: 8px;
}

.ls-search-sort .ls-search-bar input {
  background: transparent;
  border: none;
  color: white;
  margin-left: 6px;
  outline: none;
}

.ls-sort-btn {
  background: none;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
}


.ls-library-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 16px;
  box-shadow: 20px 0px 20px linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.ls-library-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.ls-library-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.ls-library-item:hover .ls-img-play-btn{
  opacity: 1;
}

.ls-library-item .ls-selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.ls-library-item-img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.ls-library-item-img img{
  width: 100%;
  height: 100%;
}

.ls-library-item-info {
  display: flex;
  flex-direction: column;
}

.ls-library-item-name {
  font-weight: bold;
}

.ls-library-item-details {
  font-size: 12px;
  color: gray;
}

.ls-img-play-btn{
  width: 40px;
  height: 40px;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  overflow: hidden;
  z-index: 2;
}

                        /*Premium section*/
  .p-premium-container{
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    flex: 1;
    border-radius: 16px;
    color: white;
    background-color: #121212;
    cursor: default;
  }

  .p-content a{
    color: white;
    text-decoration: underline;
  }

  .p-view-plan{
    width: 100%;
    height: 320px;
    background: linear-gradient(to right, #7f0d59, #163171) !important;
  }
  .p-view-plan h1{
    margin-bottom: 4px;
  }
  .p-view-plan nav{
    margin: 24px;
  }
  .p-view-plan nav button{
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 16px;
    transition: all 0.2s ease-out;
    margin-inline: 16px;
  }

  .p-view-plan span a, .p-view-plan span p{
    font-size: 12px;
    color: white;
  }

  .p-hidden-cards{
    padding: 12px;
    border-radius: 8px;
    background-color: white;
    color: black;
    display: flex;
    margin: 8px;
    gap: 12px;
    opacity:0;
    /* margin-bottom: 24px; */
  }
  .p-view-hidden-cards:hover ~ .p-hidden-cards{
    opacity:1;
  }
  .p-view-hidden-cards:hover{
    text-decoration: underline;
  }

  .p-rights{
    width: fit-content;
    align-items:flex-start;
  }

  .p-plan-cards{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    max-width: 650px;
    justify-content:first baseline;
  }

  .p-plan-card{
    width: 280px;
    min-height: 480px;
    background-color: #242424;
    border-radius: 8px;
    max-width: 280px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:16px;
  }
  .p-plan-card .p-price-tag{
    color: black;
    top: 0;
    left:0;
    background-color: white;
    padding: 8px 12px;
    border-radius: 0 0 8px 0;
    font-size: 16px;
    font-weight: bolder;
    margin: -16px -16px;
  }

  .p-plan-card .p-content{
    padding: 0;
    padding-top: 48px;
    height: 270px;
  }
  .p-content .p-title{
    color: white;
    font-size: 16px;
    font-weight: bolder;
    display:flex;
    gap: 4px;
  }
  .p-content .p-title h1, .p-content .p-title h3, .p-content .p-title h4{
    margin: 0;
    text-align: left;
  }
  .p-content .p-title h4{
    color: rgba(255,255,255,0.6);
  }
  .p-content .p-title span{
    gap: 4px;
  }

  .p-plan-card button{
    width: 100%;
    padding-block: 24px;
    color: black;
    background-color: white;
    font-weight: bold;
    height: 32px;
    border-radius: 32px;
    margin-block: 24px;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .p-plan-card button:hover{
    background-color: white !important;
  }

  .p-note{
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    margin-bottom: 12px;
    width: 100%;
  }
  .p-note a{
    text-decoration: underline;
    color: inherit;
    margin: 0;
    padding: 0;
    line-height: inherit;
  }

  .p-separator{
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.3);
    margin-block: 24px !important;
  }

  .p-content .p-details span{
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: 4px;
    width: 100%;
  }
  .p-content .p-details span > :nth-child(2) {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-block: -2px 4px;
  }
  .p-feature-table{
    width: 60%;
  }
  .p-feature-table .p-title > :nth-child(3){
    background: linear-gradient(to bottom, rgba(255,255,255, 0.2), rgba(0,0,0,0)) !important;
  }

  .p-feature-table span{
    display: grid;
    grid-template-columns: 1fr 120px 120px;
    height: 48px;
    width: 100%;
    border-bottom: 1px solid white;
    font-size: 16px;
    margin-block: 8px;
    align-items: center;
  }

  .p-feature-table .p-title{
    height: 120px;
    font-weight: bold;
    display:grid;
    grid-template-columns: 1fr 120px 120px;
    align-items: center;
  }

  .p-feature-table span > :nth-child(1){
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.5);
    text-decoration-style: dotted;
    text-underline-offset: 2px;
    display: flex;
    align-items: center;
  }
  .p-feature-table span > :nth-child(3){
    background: rgba(255,255,255,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-block: 6px;
    transform: translateY(-8px);
  }
  .p-feature-table span > :nth-child(2){
    display: flex;
    align-items: center;
    width: 100%;
  }
  .p-feature-table span > :nth-child(3) img{
    width: 24px;
    height: 24px;
  }