.com-vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.com-horizontal-align{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.com-hr-left-align{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.com-glow-only{
  border: none;
  padding: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.7;
  cursor: pointer;
}

.com-glow-only:hover {
  opacity: 1;
  background-color: rgba(255,255,255,0.2) !important;
}

.com-glow-zoom{
  border: none;
  padding: 4px;
  opacity: 0.7;
  gap: 8px;
  transition: all 0.2s ease-out;
}

.com-glow-zoom:hover{
  transform: scale(1.1);
  opacity: 1;
}

.com-button-controls button{
  border: none;
  background-color: transparent;
  color: white;
  width: fit-content;
  height: fit-content;
  opacity: 0.7;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.com-button-controls button:hover{
  transform: scale(1.1);
  opacity: 1;
}

/* Left Sidebar */
.ls-left-sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 16px;
  padding-block: 8px;
  background: #121212;
  color: white;
  width: 20%;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
  border-radius: 8px;
  position: fixed;
  margin-top: 0.2%;
}

.ls-left-sidebar::-webkit-scrollbar {
  display: none;
}

.ls-library-header{
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  padding-block: 8px;
}

.ls-library-title {
  background: transparent;
  opacity: 0.7;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 24px !important;
  color: white;
  gap: 8px;
  transition: all 0.1s ease-out;
}
.ls-library-title span{
  width: fit-content;
  overflow: hidden;
}

.ls-library-title:hover{
  background: transparent !important;
}

/* Add & Expand Buttons */
.ls-add-expand {
  gap: 8px;
}

.ls-create-span{
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}

.ls-add-expand button{
  width: fit-content;
  min-width: 32px;
  height: 32px;
  border-radius: 16px;
  gap: 0px !important;
}

.ls-category-search{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ls-category-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  width: 100%;
}

/* Category Holder */
.ls-category-holder {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 4px;
  scrollbar-width: none;
}

.ls-category-holder::-webkit-scrollbar {
  display: none;
}

/* Category Buttons */
.ls-category-holder button {
  padding: 8px 12px;
  border-radius: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.ls-category-holder button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Scroll Buttons */
.ls-scroll-btn {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: opacity 0.2s;
  z-index: 10;
}

.ls-left {
  left: 0;
  opacity: 0;
}

.ls-right {
  right: 0;
  opacity: 1;
}

.ls-scroll-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.ls-search-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ls-search-sort button{
  background-color: rgba(0,0,0,0);
}

.ls-search-sort .ls-search-bar {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px;
  border-radius: 8px;
}

.ls-search-sort .ls-search-bar input {
  background: transparent;
  border: none;
  color: white;
  margin-left: 6px;
  outline: none;
}

.ls-sort-btn {
  background: none;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
}


.ls-library-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 16px;
  box-shadow: 20px 0px 20px linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.ls-library-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.ls-library-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.ls-library-item:hover .ls-img-play-btn{
  opacity: 1;
}

.ls-library-item .ls-selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.ls-library-item-img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.ls-library-item-img img{
  width: 100%;
  height: 100%;
}

.ls-library-item-info {
  display: flex;
  flex-direction: column;
}

.ls-library-item-name {
  font-weight: bold;
}

.ls-library-item-details {
  font-size: 12px;
  color: gray;
  max-width: 50%; /* Giới hạn chiều rộng */
  white-space: nowrap; /* Ngăn xuống dòng */
  overflow: hidden; /* Ẩn nội dung vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ... khi bị cắt */
}

.ls-img-play-btn{
  width: 40px;
  height: 40px;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  overflow: hidden;
  z-index: 2;
}