.noti-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.noti-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.noti-content h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.noti-content p {
    font-size: 18px;
    color: #666;
}